In [4]:
name = "최소영"

print(name)

name = "최소라"

print(name)

age = 100
Age = 100

age += 10
Age -= 10

print(age, Age)

최소영
최소라
110 90

In [6]:
my_address = "서울시 관악구"

a = b = c = 10

print(a, b, c)

10 10 10

In [7]:
a, b, c  = 10, 20, 30

print(a, b, c)

10 20 30

In [8]:
del a

In [9]:
print(a)

NameError: name 'a' is not defined

In [10]:
type(b)

int

In [11]:
type(my_address)

str

In [15]:
age2 = age

print(age)
print(age2)

110
110

In [16]:
type(age), type(age2)

(int, int)

In [17]:
10/3

3.3333333333333335

In [18]:
10//3

3

In [19]:
10%3

1

In [22]:
num = 100001

print(num%5 == 0)

False

In [30]:
print(bool(''))
print(bool('abc'))
print(bool(0))
print(bool(1))
print(bool(2))
print(bool())

print(5 == 5)
print(5 > 5)

False
True
False
True
True
False
True
False

In [35]:
print('a' < 'b')
print('abce' < 'abda')
print('a' > 'b')
print(ord('a'), ord('b'))

True
True
False
97 98

In [ ]:
# 특수문자 < 숫자 < 대 영문자 < 소 영문자 < 한글

- XOR : ^

In [40]:
True ^ True

False

In [41]:

False ^ False

False

In [42]:
True ^ False

True

In [43]:
False ^ True

True

In [46]:
age = 26

var = "20대" if (age < 30) & (age >= 20) else "30대"

print(var)

20대

In [47]:
print('''안녕
하세요''')

안녕
하세요

In [48]:
print('abc\bd')

abd

In [49]:
print('a\\')

a\

In [54]:
# r-string : escape 문자의 \를 무시하고 싶을 땐
print('a\nb')
print(r'a\n') # ''앞에 r 붙이면 됨. enter 안되고 문자열 그대로 출력.

a
b
a\n

In [61]:
print('a + b')

print("나이" , 14)
print("나이 " + str(14))

print("나이" + 14)

a + b
나이 14
나이 14

TypeError: can only concatenate str (not "int") to str

In [60]:
print("나이 " + str(14))

나이 14

In [63]:
print('-'*10)

print('abc'*10)

----------
abcabcabcabcabcabcabcabcabcabc

In [66]:
print(len(name))
print(name)

3
최소라

In [69]:
addr = "서울특별시 관악구 남현동"

r = "관악구" in addr
r1 = "사당동" in addr

print(r, r1)

True False

In [70]:
var1 = "서울 주민" if "서울특별시" in addr else "부산 주민"

print(var1)

서울 주민

In [72]:
print('abc', end='-')
print('def')

abc-def

In [73]:
print('abc', end='')
print('def')

abcdef

In [74]:
s = "abcdefghijklmn"

len(s)

14

In [ ]:
# 슬라이싱 헷갈릴 때
# 슬라이싱 시, 끝 인덱스를 -1 또는 + 1 을 하는데 
# 시작에서 끝 숫자를 보았을 때 
# 시작 보다 끝이 뒤에 있는 인덱스 인 경우 끝에서 시작 인덱스를 향해 붙는다고 생각하고 즉 -1
# 시작 보다 끝이 앞에 있는 인덱스 인 경우 시작 인덱스로 향해 붙는다고 생각하고 즉 +1

In [88]:
print(s[2:10:2])
print(s[2:10]) # 2~ 9(10 - 1)
print(s[:3])
print(s[7:])

cegi
cdefghij
abc
hijklmn

In [89]:
print(s[5:1:-1]) # 5 ~ 2(1+1) 까지 -1 씩 
print(s[-1:5:-1]) # -1 ~ 6(5+1) 까지 -1 씩 
print(s[-1:-5:-2]) # -1 ~ -4 까지 까지 -2 씩

fedc
nmlkjihg
nl

In [90]:
info_layout = "이름: {} 나이: {}"
print(info_layout)

이름: {} 나이: {}

In [94]:
info1 = info_layout.format("최소영", 26)
info2 = info_layout.format("김영준", 27)
print(info1 + '\t' + info2)

이름: 최소영 나이: 26	이름: 김영준 나이: 27

In [96]:
print("이름: {} \n학교 : {}".format('최소영', '단국대학교'))

이름: 최소영
학교 : 단국대학교

In [98]:
print("이름: {0}\n나이: {2}\n주소: {1} \n이름: {0}".format("최소영", "서울", 26))

이름: 최소영
나이: 26
주소: 서울
이름: 최소영

In [100]:
print("이름: {name}\n나이: {age}\n주소: {addr}\n이름: {name}".format(name="소영", age=26, addr="서울"))

이름: 소영
나이: 26
주소: 서울
이름: 소영

In [103]:
print("이름:%s, 나이:%d, 키:%f" %("최소영", 26, 157.5))

이름:최소영, 나이:26, 키:157.500000
이름:최소영, 나이:26, 키:157.50

In [104]:
name, age, weight = "홍길동", 23, 72.7
print(f"이름: {name}, 나이: {age}, 몸무게: {weight}")

이름: 홍길동, 나이: 23, 몸무게: 72.7

In [110]:

# {변수명 : 정렬}

print(f"이름: {name}")
print(f'이름:{name}')
print(f'이름:{name:>6}') # 우측 정렬. 6칸에서 우측 정렬 
print(f'이름:{name:>2}') # 우측 정렬 글자수 이하 값 지정하면 그냥 출력 최소 자리수를 의미하지 자르는 게 아님

print(f'이름:{name:<6}') # 좌측 정렬 자체가 사실 별 필요없으니 우측 정렬 시 주로 쓰임

이름: 홍길동
이름:홍길동
이름:   홍길동
이름:홍길동
이름:홍길동

In [112]:
# {변수명 : 정밀도}
weight = 81.4497
print(f"이름: {name:>5}, 몸무게: {weight:.2f}")

이름:   홍길동, 몸무게: 81.45

In [114]:
# {변수명 : 타입}
print(f"이름:{name:s}") 

print(f"이름:{name:d}")

이름:홍길동

ValueError: Unknown format code 'd' for object of type 'str'

In [118]:
s = "사과|귤|배"

fruit_list = s.split('|')
a, b, c = s.split('|')

print(fruit_list)
print(b)

['사과', '귤', '배']
귤

In [122]:
s2 = "      ab c       "

s2.lstrip()

'ab c       '

In [123]:
s2.rstrip()

'      ab c'

In [124]:
s2.strip()

'ab c'

In [125]:
s3 = "abcabcabc"

s3.replace('ab', '가')  #ab 를 가 로 변경. 글자수 상관없이 그냥 대체 하는 것.

'가c가c가c'

In [128]:
s3.count('abc')

3

In [130]:
s3.index('bc')  #'bc' 가 몇 번 째. 앞에서 처음 나온 index를 반환

1

In [131]:
print( s3.find('가')== -1  )

True

In [133]:
s4 = "ADldf"
print(s4.upper())
print(s4.lower())

ADLDF
adldf

In [136]:
addr = "서울시 서대문구"
print(addr.startswith("서울"))
print(addr.startswith("광주"))

url = "www.naver.com"
print(url.endswith(".com"))
print(url.endswith(".net"))

# 중간에 있는 문자가 있는 알고 싶을 때 in, not in

True
False
True
False

In [1]:
num1 = input("값을 입력하시오:")
print(num1)

# input()함수를 쓸 때 애초에 정수 선언할 순 없다. 무조건 string 
# 만약 정수로 받고 싶다면 아래와 같이 한줄로 쓸 순 있다.
a = int(input())

In [2]:
str = "12"
print(type(str))
type(int(str))

<class 'str'>

int

In [3]:
float = float(str)

print(float)

12.0

In [4]:
int(True)

1

In [24]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
주민번호 = "901211-1027213"

print(주민번호[:6])

print(주민번호.split('-')[0])

901211
901211

In [6]:
#2. "안녕하세요" 를 10번 출력하시오.
print("안녕하세요"*10)

안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요

In [7]:
#3. 다음 문자열의 글자수를 출력하시오.
x = "akdlclkdkdlelql39du7마구0ㅌ" 

print(len(x))

24

In [14]:
#4.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"

print("제품명 : {}, 가격 : {}, 제조사 : {}".format(name, price, maker))
print("제품명 : %s, 가격 : %d, 제조사 : %s" %(name, price, maker))
print(f"제품명 : {name}, 가격 : {price}, 제조사 : {maker}")

제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격 : 300000, maker : LG

In [22]:
#5
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.

print("수박 없습니다." if "수박" not in fruits else "수박 있습니다.")
print("수박 있습니다." if "수박" in fruits else "수박 없습니다.")

수박 없습니다.
수박 없습니다.

In [19]:
#6 
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value 문자열안에 a가 몇개 있는지 출력하시오.

str_value.count("a")

9