In [8]:
num = int(input("정수 : "))

if num == 0:
    print("0 입니다.")
elif num > 0:
    print("양수 입니다.")
    if num >= 1000:
        print("1000 이상의 수입니다.")
        print(f"입력한 값은 {num} 입니다.")

    else:
        print("1000 이하의 수 입니다.")
        print(f"입력한 값은 {num} 입니다.")

else:
    print("음수 입니다.")
    print(f"입력한 값은 {num} 입니다.")
print("종료")

양수 입니다.
입력한 값은 100000 입니다.
1000 이상의 수입니다.
종료

In [10]:
limit = int(input("반복 횟수 : "))
count = 0
while count < limit:
    count+=1
    print(f"{count} 번째 입니다.")
    print("-"*10)

1 번째 입니다.
----------
2 번째 입니다.
----------
3 번째 입니다.
----------
4 번째 입니다.
----------
5 번째 입니다.
----------

In [13]:
lst = [10, 5, 7, 9, 100, 50, 27, 123, 22, 90]
sum = 0

for l in lst:
    sum += l
    print(l ,sum)


print(sum)

10 10
5 15
7 22
9 31
100 131
50 181
27 208
123 331
22 353
90 443
443

In [18]:
for v in (10, 20, 30):
    print(v, end=" ")

10 20 30

In [19]:
dict = {"name":"소영", "age":26}
for key in dict:
    print(key)
    print(dict[key])

name
소영
age
26

In [20]:
for value in dict.values():
    print(value)

소영
26

In [21]:
for v in "안녕하세요":
    print(v)

안
녕
하
세
요

In [22]:
for v in "안녕하세요":
    print(v, end="")

안녕하세요

In [23]:
list("안녕하세요")

['안', '녕', '하', '세', '요']

In [24]:
tuple("안녕하세요")

('안', '녕', '하', '세', '요')

In [26]:
lst = [10, 5, 7, 9, 100, 50, 27, 123, 22, 90]

for l in lst:
    if l%2 != 0:
        continue
    print(l)

10
100
50
22
90

In [27]:
while True:
    s = input()
    if s == 'q!':
        break
    print("입력값:", s)
print("종료")

입력값: ㅇ
입력값: ㅇ
입력값: ㅈ
입력값: ㅆㅅ
종료

In [28]:
for i in range(10, 101, 10):
    print(i)

10
20
30
40
50
60
70
80
90
100

In [38]:
list(range(10,100,10)), set(range(10,100,10))

([10, 20, 30, 40, 50, 60, 70, 80, 90], {10, 20, 30, 40, 50, 60, 70, 80, 90})

In [43]:
list(range(100,10,-5))

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15]

In [44]:
list(range(10,20,))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [48]:
for _ in range(10):
    print("a")

a
a
a
a
a
a
a
a
a
a

In [49]:
lst = [10,5,6,4,7,2]

for i in enumerate(lst):
    print(i)

(0, 10)
(1, 5)
(2, 6)
(3, 4)
(4, 7)
(5, 2)

In [51]:
for i in enumerate(lst, start=100):
    print(i)

(100, 10)
(101, 5)
(102, 6)
(103, 4)
(104, 7)
(105, 2)

In [52]:
for idx, value in enumerate(lst):
    print(f"{idx} 번째 숫자는 {value} 입니다.")

0 번째 숫자는 10 입니다.
1 번째 숫자는 5 입니다.
2 번째 숫자는 6 입니다.
3 번째 숫자는 4 입니다.
4 번째 숫자는 7 입니다.
5 번째 숫자는 2 입니다.

In [55]:
names = ['홍길동','이순신','강감찬']
ages = [30, 40, 50]
address = ['서울', '인천', '수원']
emails = ['a@a.com', 'l@a.com', 'avc@a.com', 'dfl@c.ocm']


for name, age, addr, email in zip(names, ages, address, emails):
    print(name, age, addr, email)

홍길동 30 서울 a@a.com
이순신 40 인천 l@a.com
강감찬 50 수원 avc@a.com

In [56]:
l1 = [1, 2, 3, 4, 5]

new_lst = []

for i in l1:
    new_lst.append(i * 5)

print(new_lst)

[5, 10, 15, 20, 25]

In [57]:
lst = [i * 5 for i in l1]
print(lst)

[5, 10, 15, 20, 25]

In [58]:
s = {i * 5 for i in l1}

s

{5, 10, 15, 20, 25}

In [68]:
d = { str(k) + "번":v*5 for k, v in enumerate(lst)}
d

{'0번': 25, '1번': 50, '2번': 75, '3번': 100, '4번': 125}

In [66]:
d = { k:v*5 for k, v in enumerate(lst)}

for k in d:
    print(type(k))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [69]:
for v in d:
    print(v)

0번
1번
2번
3번
4번

In [71]:
for v in d.values():
    print(v)

25
50
75
100
125

In [73]:
for x,y in d.items():
    print(x,y)

0번 25
1번 50
2번 75
3번 100
4번 125

In [74]:
lst = ['a', 'b', 'c', 'd']

new_lst = [ i.upper() for i in lst]

new_lst

['A', 'B', 'C', 'D']

In [75]:
lst = ['a', 'abc', 'b', 'c','djkf']

new_lst = [ i.upper() for i in lst if len(i) == 1 ]
new_lst

['A', 'B', 'C']

In [79]:
l = list(filter(lambda x : len(x)==1 , lst))

l

['a', 'b', 'c']

In [80]:
# if 문 여러 개 and 조건을 묶임
[i for i in range(10) if i%2==0 if i%4==0]

[0, 4, 8]

In [81]:
# 컴플리헨션 if else => 왼쪽에 if 문 사용
# 왼쪽에 if 문 쓰는 경우엔 항상 else 까지 써야 함.
# else 가 필요할 때만 왼쪽에쓰자.

new_lst = [ i.upper() if len(i) == 1 else i for i in lst ]
new_lst

['A', 'abc', 'B', 'C', 'djkf']

In [82]:
# if else 여러 개. elif 와 같은 효과

i = [1, -2, 0, 4, 100, -5]

[ "제로" if v==0 else "양수" if v>0 else "음수" for v in i ]

['양수', '음수', '제로', '양수', '양수', '음수']

In [83]:
# for문 2개 사용

# i가 0,1을 반복하며, 각각 j가 0~2를 반복하게 됩니다. 
# 즉, i가 2번 반복되는 동안, j가 3번 반복되어 총 6가지가 출력됩니다. 
# 출력되는 i, j에 대해서 리스트나 튜플 집합으로 묶어야 정상 동작합니다.

[ [i, j] for i in range(2) for j in range(3)]

[[0, 0], [0, 1], [0, 2], [1, 0], [1, 1], [1, 2]]

In [94]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

# 범위 안에 안 든 점수가 들어올 수 도 있다. else보다 elif 해주자.

i = int(input("점수: "))

if (i > 100) | (i <0):
    print("입력 값 범위 오류 입니다. 다시 시도해주세요.")
elif i > 90:
    print(f" {i} 점수로 A 학점 입니다.")
elif i > 80:
    print(f" {i} 점수로 B 학점 입니다.")
elif i > 70:
    print(f" {i} 점수로 C 학점 입니다.")
elif i > 60:
    print(f" {i} 점수로 D 학점 입니다.")
else:
    print(f" {i} 점수로 F 학점 입니다.")

입력 값 범위 오류 입니다. 다시 시도해주세요.

In [ ]:
i = int(input())

if i > 89:
    print('A')
elif i > 79:
    print('B')
elif i > 69:
    print("C")
elif i > 59:
    print("D")
else:
    print("F")

In [98]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.
id = input("아이디 :")

if len(id) > 4:
    print("사용할 수 있습니다.")
else:
    print("사용할 수 없는 ID 입니다.")

사용할 수 있습니다.

In [104]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.
city = input("도시 :")

if city == "서울":
    print(f"{city}특별시")
elif city in ["인천", "부산", "광주", "대구", "대전", "울산"]:
    print(f"{city}광역시")
else:
    print("특별시나 광역시가 아닙니다.")

특별시나 광역시가 아닙니다.

In [114]:
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
sums = 0

for j in jumsu:
    sums+=j

mean = sums/len(jumsu)

mean

89.0

In [116]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. 
# (ex: 0-pass, 1-pass, 2-fail)

for i,j in enumerate(jumsu):
    if j >= mean:
        print(f"{i}-pass")
    else:
        print(f"{i}-fail")

0-pass
1-pass
2-pass
3-fail
4-fail
5-pass
6-fail
7-pass
8-pass
9-fail

In [117]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

max(jumsu)

95

In [119]:
m = jumsu[0]

for i in range(1, len(jumsu)):
    if jumsu[i] > m:
        m = jumsu[i]

m

95

In [ ]:
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

max1 = 0
for i in jumsu :
    if i > max1:
        max1 = i
print("최댓값:",max1)

In [136]:
#(8) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]

[str for str in str_list if str not in ["쥐", "토끼"]]

['소', '호랑이', '용', '뱀']

In [137]:
for x in str_list:
    if x in ["쥐", "토끼"]:
        continue
    print(x)

소
호랑이
용
뱀

In [122]:
#(9) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

i = int(input("단을 입력하시오 : "))

for x in range(1,10):
    print(f"{i} X {x} = {i*x}")

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

In [123]:
#컴프리헨션

#(10) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

[i*2 for i in lst]

[20, 60, 140, 10, 240, 1400, 2, 70]

In [124]:
#(11) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]

[(i, i*10) for i in lst]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [140]:
#(12) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]

[i for i in lst2 if i%3==0]

[3, 33, 21, 33, 60, 120]

In [126]:
#(13) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

[f for f in file_name if f.endswith('.exe')]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [131]:
#(14) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

[f for f in file_name if len(f) >= 10]

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [133]:

[f for f in file_name if len(f.split('.')[0]) > 3]

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [142]:

#(15) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]

[i for i in str_list if i.islower()]

[i for i in str_list if i == i.lower()]

['c', 'g', 'h', 'k']

In [150]:
# 한글자에 대해 대소문자를 알 수 있는 함수가 있다. bool로
# 여러개 되는데 모든 글자가 다 대문자거나 다 소문자여야 True. 하나라도 아니면 False

"A".islower(), 'a'.islower()

(False, True)

In [152]:
'A'.isupper(), "a".isupper()

(False, False)