In [1]:
def say():
    print("안녕")

In [2]:
say()

안녕

In [3]:
def calc(num1, num2):
    a = num1 + num2
    b = num1 - num2
    c = num1 * num2
    d = None
    if num2 != 0:
        d = num1 / num2
    
    
#     return [a, b, c, d] # 리스트
#     return a, b, c, d  #튜플
    return {'plus':a, 'minus':b, 'multiply':c, 'divide':d}

In [6]:
result = calc(10, 20)

print(result)

{'plus': 30, 'minus': -10, 'multiply': 200, 'divide': 0.5}

In [9]:
list(result.values())

[30, -10, 200, 0.5]

In [14]:
def print_info(name=None, age=-1, address=None):

    print(f"이름 {name}, 나이 {age}, 주소 {address}")

print_info('최소영')
print_info()
print_info("홍길동", 25)
print_info(address='인천', name='홍길동', age=40) #keyword argument를 사용하면 순서 상관없이 대입

이름 최소영, 나이 -1, 주소 None
이름 None, 나이 -1, 주소 None
이름 홍길동, 나이 25, 주소 None
이름 홍길동, 나이 40, 주소 인천

In [18]:
# 기본값이 없는 매개변수들을 먼저 선언하고 이어서 기본값 있는 매개변수들을 선언.
def print_info3(name, age, address=None, email=None):#   , hobby):
    print(f"이름: {name}, 나이: {age}, 주소: {address}, 이메일: {email}")

print_info3("홍길동", 20)
print_info3(name='이순신', age=30, email="a@a.com")

이름: 홍길동, 나이: 20, 주소: None, 이메일: None
이름: 이순신, 나이: 30, 주소: None, 이메일: a@a.com

In [20]:
def i_f(*lst):
    for i in lst:
        print(i)

    return lst

l = i_f(1,2,3,4,5)

type(l)

1
2
3
4
5

tuple

In [21]:
i_f()

()

In [22]:
l = i_f(1,2,3,4,2,2,5,2,)
type(l)

1
2
3
4
2
2
5
2

tuple

In [23]:
def print_info(**info):
    print(info)

    for key, value in info.items():
        print(f"{key} : {value}")

In [24]:
print_info(name="소영", 주소="서울")

{'name': '소영', '주소': '서울'}
name : 소영
주소 : 서울

In [25]:
print_info(name="소영", 주소="서울", 취미="여행")

{'name': '소영', '주소': '서울', '취미': '여행'}
name : 소영
주소 : 서울
취미 : 여행

In [26]:
def test_fn(*a, *b, *c): #가변인자는 한 함수에 종류별(*, **)로 하나씩만 선언가능
    pass

SyntaxError: invalid syntax (1703563790.py, line 1)

In [27]:
def test_fn(*a, **b): #가변인자는 한 함수에 종류별(*, **)로 하나씩만 선언가능
    pass

In [28]:
def test_fn(**a, **b): #가변인자는 한 함수에 종류별(*, **)로 하나씩만 선언가능
    pass

SyntaxError: invalid syntax (702068875.py, line 1)

In [29]:
# 함수를 매개변수의 argment 전달
def calculator(func):
    # 처리할 값이 있다. (num1, num2)
    # 어떻게 처리할지 방법이 없다. 처리방법(함수)을 매개변수 받는다.
    num1, num2 = 10, 20
    result = func(num1, num2)
    print('calculator()결과: ', result)

In [32]:
def plus(n1, n2):
    return n1 + n2

def minus(n1, n2):
    return n1 - n2

def multiply(n1, n2):
    return n1 * n2

In [33]:
calculator(plus)

calculator()결과:  30

In [34]:
calculator(minus)

calculator()결과:  -10

In [35]:
calculator(multiply)

calculator()결과:  200

In [36]:
x = lambda n1, n2: n1+n2
x(1,2)

3

In [38]:
y = lambda n : n**2

y(10), y(2), y(5)

(100, 4, 25)

In [39]:
calculator(lambda n1,n2 : n1+n2)

calculator()결과:  30

In [40]:
l = [10, 20 , 30]

def m1(x):
    return x*10

In [42]:

list(map(m1, l))

[100, 200, 300]

In [43]:
list(map(lambda x:x*10, l))

[100, 200, 300]

In [44]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [47]:
print_info?

Signature: print_info(**info)
Docstring: <no docstring>
File:      c:\users\cso60\appdata\local\temp\ipykernel_20612\1577288713.py
Type:      function