In [1]:
l2=[10.5,'abc',True, None, 30]

len(l2)

5

In [5]:
print(l2[1:4])
print(l2[-1:-4:-1])
print(l2[-1:1:-1])
print(l2[::-1])

['abc', True, None]
[30, None, True]
[30, None, True]
[30, None, True, 'abc', 10.5]

In [6]:
l2[0] = 1000
print(l2)

[1000, 'abc', True, None, 30]

In [7]:
l2[1:3] = "가", "나"
print(l2)

[1000, '가', '나', None, 30]

In [8]:
l2[1:3] = []

In [9]:
l2

[1000, None, 30]

In [10]:
l2[1:3] = "가"

In [13]:
l2[0:1] = 1, 2, 3
l2

[1, 2, 3, 2, 3, '가']

In [14]:
del l2[0]
l2

[2, 3, 2, 3, '가']

In [15]:
l3 =[[1,2], [3,4],[5,6]] # 내부적으로 참조관계

l3[0]

[1, 2]

In [16]:
l3[0][1]

2

In [18]:
l3[2][1] = 1000
l3

[[1, 2], [3, 4], [5, 1000]]

In [19]:
l1 = [1,2,3]
l2 = [10,20,30]

print(l1 + l2)

[1, 2, 3, 10, 20, 30]

In [20]:
print(l1 * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
print(1 in l1)
print(1 not in l2)

True
True

In [24]:
a, b, c = 1,2,3
print(b)

d, e, f = [1, 2, 3]
print(f)

2
3

In [25]:
print(len(l1))

3

In [26]:
# 원소 하나씩 넣을 때
l1.append(10)
l1

[1, 2, 3, 10]

In [27]:
# 여러개의 원소 넣고 싶을 때. 리스트로 묶어
l1.extend([4,5,6]) # 원본 리스트가 변경 되는 것
l1

[1, 2, 3, 10, 4, 5, 6]

In [30]:
x = sorted(l1) # 원본 리스트 변경 아니고 그냥 반환

print(l1)
print(x)

[1, 2, 3, 10, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 10]

In [29]:
sorted(l1, reverse=True)

[10, 6, 5, 4, 3, 2, 1]

In [31]:
# 원본 리스트 자체 정렬함. 원본 바뀜
l1.sort()
l1

[1, 2, 3, 4, 5, 6, 10]

In [32]:
l1.sort(reverse=True)
l1

[10, 6, 5, 4, 3, 2, 1]

In [33]:
l1.insert(3, '가나다')  # index 3에 '가나다'를 삽입. 기존 원소 뒤로 밀림.
l1

[10, 6, 5, '가나다', 4, 3, 2, 1]

In [34]:
del l1[1]
l1

[10, 5, '가나다', 4, 3, 2, 1]

In [35]:
l1.remove('가나다')
l1

[10, 5, 4, 3, 2, 1]

In [36]:
l1.insert(0, '요요')
l1.append('요요')
l1

['요요', 10, 5, 4, 3, 2, 1, '요요']

In [37]:
l1.remove('요요') # 값이 여러개 일 경우 첫번째 값만 삭제
l1

[10, 5, 4, 3, 2, 1, '요요']

In [38]:
l1.count(10)

1

In [39]:
l1.clear()
l1

[]

In [41]:
t1 = (1, 2, 3, 4, "나", True)
t2 = 10, 20, 30, 40, "가"

t1

(1, 2, 3, 4, '나', True)

In [42]:
t3 = (100) # 그냥 대입
t3

100

In [43]:
t4 = (100,) # 튜플 대입 / 원소 하나일 경우 뒤에 , 붙이기
t4

(100,)

In [44]:
type(t3), type(t4)

(int, tuple)

In [45]:
t1 + t2

(1, 2, 3, 4, '나', True, 10, 20, 30, 40, '가')

In [46]:
t1

(1, 2, 3, 4, '나', True)

In [47]:
t5 = t1 + t2 *2
t5

(1, 2, 3, 4, '나', True, 10, 20, 30, 40, '가', 10, 20, 30, 40, '가')

In [49]:
# 튜플 정렬
# 튜플은 무조건 리스트로 반환하기에 튜플을 정렬하여 리스트로 반환함.
# sorted 는 원본을 변경하지 않고 그냥 반환하는 함수

t7 = 100, 4, 8, 20, 20, 1, 8

x = sorted(t7)
print(t7)
print(x)

(100, 4, 8, 20, 20, 1, 8)
[1, 4, 8, 8, 20, 20, 100]

In [51]:
person1 = {"name":"홍길동", "age":20, "address":"서울"}
person2 = {"age": 30, "name":"이순신", "address":"부산"}

In [52]:
print(person1['name'], person2['name'])

홍길동 이순신

In [53]:
person1['name'] = '박성웅'
person1

{'name': '박성웅', 'age': 20, 'address': '서울'}

In [54]:
person1['tel'] = '010-1223-1233'
person1

{'name': '박성웅', 'age': 20, 'address': '서울', 'tel': '010-1223-1233'}

In [55]:
person1['메일']

KeyError: '메일'

In [57]:
print(person1.get('email'))

None

In [58]:
v = person2.get('email', '없음')
print(v)

없음

In [60]:
# in 연산자는 value를 찾는 것이 아니라 key!!를 찾는 것
print('name' in person1)
print('박성웅' in person1)

True
False

In [61]:
a = person1.pop('name')
print(a)
print(person1)

박성웅
{'age': 20, 'address': '서울', 'tel': '010-1223-1233'}

In [62]:
del person1['tel']

person1

{'age': 20, 'address': '서울'}

In [63]:
person1.items()

dict_items([('age', 20), ('address', '서울')])

In [64]:
person1.keys()

dict_keys(['age', 'address'])

In [65]:
person1.values()

dict_values([20, '서울'])

In [69]:
s1 = {1,1,1,2,2,2,3,3,3,"a","a","a",True,True,True,False,False}

s1

{1, 2, 3, False, 'a'}

In [70]:
s1[0]

TypeError: 'set' object is not subscriptable

In [71]:
1 in s1

True

In [72]:
100 not in s1

True

In [73]:
# 합집합
s1 = {1,2,3}
s2 = {3,4,5}

s3 = s1 | s2
print(s3)

{1, 2, 3, 4, 5}

In [74]:
s4 = s1.union(s2)
s4

{1, 2, 3, 4, 5}

In [75]:
s5 = s1 & s2
s6 = s1.intersection(s2)
print(s5)
print(s6)

{3}
{3}

In [76]:
# 차집합
s7 = s1 - s2
s8 = s1.difference(s2)
print(s7)
print(s8)

{1, 2}
{1, 2}

In [77]:
s1.add(10)
s1

{1, 2, 3, 10}

In [79]:
s1.update([100,1000,100])
s1

{1, 2, 3, 10, 100, 1000}

In [80]:
s1.update((100,2000,3000))
s1

{1, 2, 3, 10, 100, 1000, 2000, 3000}

In [85]:
# set 은 순서없음. 인덱스 넣어서 뽑는 게 안됨
# 가장 앞에 있는 원소를 꺼냄
v = s1.pop()
print(v)
print(s1)

3
{100, 1000, 10, 2000, 3000}

In [87]:
s1.remove(100)
s1

{10, 1000, 2000, 3000}

In [88]:
t = 1,2,10,5,10,2

l = list(t)

print(l)

[1, 2, 10, 5, 10, 2]

In [89]:
s = set(t)

s

{1, 2, 5, 10}

In [90]:
t1 = tuple(l)

t1

(1, 2, 10, 5, 10, 2)

In [91]:
t2 = tuple(s)

t2

(1, 2, 10, 5)

In [92]:
# dict -> set // key값만 바뀌어 반환한다.
# 어차피 key만 반환이니 뭐 dict 값이 같아도 아무 상관없쥐.
d = {'a':10, 'b':20, 'c':40, 'd':40}
set(d) #dict -> set

{'a', 'b', 'c', 'd'}

In [93]:
tuple(d)

('a', 'b', 'c', 'd')

In [94]:
list(d)

['a', 'b', 'c', 'd']

### 문제

In [95]:
# 문제 1~7 

jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 

# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제 1 ~ 7)
#(1)  7번의 점수를 출력하세요

In [96]:
print(jumsu[6])

80

In [97]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
print(jumsu[:5])

[100, 90, 100, 80, 70]

In [98]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
print(jumsu[3:7])

[80, 70, 100, 80]

In [99]:
#(4) 짝수번째 점수를 출력하세요.
print(jumsu[1::2])

[90, 80, 100, 90, 85]

In [100]:
#(5) 홀수번째 점수를 출력하세요.
print(jumsu[::2])

[100, 100, 70, 80, 95]

In [101]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
print(jumsu)

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [115]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
unique_jumsu = list(set(jumsu))
print(unique_jumsu)

[100, 70, 80, 20, 85, 90]

In [116]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

#(8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits.extend(['사과', '귤'])
print(fruits)

['복숭아', '수박', '딸기', '사과', '귤']

In [119]:
fruits = ["복숭아", "수박", "딸기"]
fruits += ['사과', '귤']
print(fruits)

['복숭아', '수박', '딸기', '사과', '귤']

In [106]:
#(9) fruits 리스트에서 "복숭아"를 제거하세요.
fruits.remove('복숭아')
print(fruits)

['수박', '딸기', '사과', '귤']

In [120]:
del fruits[0]
print(fruits)

['수박', '딸기', '사과', '귤']

In [109]:
# 문제 10 ~ 15
#(10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성. 
# 취미는 2개 이상의 값을 넣는다..

info = { '이름':'최소영', '나이':'26', 'email주소':'cso6005@naver.com', '취미':['여행', '영화감상'], '결혼유무':'미혼'}

print(info)

{'이름': '최소영', '나이': '26', 'email주소': 'cso6005@naver.com', '취미': ['여행', '영화감상'], '결혼유무': '미혼'}

In [110]:
#(11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print(info['이름'], info['email주소'])

최소영 cso6005@naver.com

In [111]:
#(12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
print(info['취미'][1])

영화감상

In [112]:
#(13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
info['키'] = 157.5
info['몸무게'] = 47.0

print(info)

{'이름': '최소영', '나이': '26', 'email주소': 'cso6005@naver.com', '취미': ['여행', '영화감상'], '결혼유무': '미혼', '키': 157.5, '몸무게': 47.0}

In [113]:
#(14) 위 딕셔너리에서 나이를 제거하세요.
del(info['나이'])

info

{'이름': '최소영',
 'email주소': 'cso6005@naver.com',
 '취미': ['여행', '영화감상'],
 '결혼유무': '미혼',
 '키': 157.5,
 '몸무게': 47.0}

In [114]:
#(15) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
info['email주소'] = 'cssyoung67@gmail.com'

info

{'이름': '최소영',
 'email주소': 'cssyoung67@gmail.com',
 '취미': ['여행', '영화감상'],
 '결혼유무': '미혼',
 '키': 157.5,
 '몸무게': 47.0}